---
import Anexos from "../components/Anexos.astro";
import MainLayout from "./MainLayout.astro";
import { IActividad } from "../interfaces";
interface Props {
  actividad: IActividad;
}
const { actividad } = Astro.props;
const { titulo, contenido, slug, headerImg, objetivos, anexos, numero } =
  actividad;
---

<MainLayout title={`IE Soledad Román de nuñez - ${titulo}`} desc={contenido}>
  <header class="actividad-header">
    <div class="container">
      <h1 class="h2">
        {titulo}
      </h1>
    </div>
    <img src={headerImg || "/mainHeader.jpg"} alt={`${slug}-img`} />
  </header>
  <div class="post-content">
    <div class="content">
      <h3 class="h3">Objetivos</h3>
      <ul>
        {objetivos.map((obj) => <li>{obj}</li>)}
      </ul>
      <slot />
      <Anexos {anexos} {numero} />
    </div>
  </div>
</MainLayout>
