---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---

<MainLayout title={frontmatter.title} desc={frontmatter.description}>
  <header>
    <div class="container">
      <small>
        <a href={`/category/${frontmatter.category}`} class="badge">
          {frontmatter.category}
        </a>
      </small>
      <h1 class="h2">
        {frontmatter.title}
      </h1>
      <p>
        by
        <a href={`/author/${frontmatter.author}`}>{frontmatter.author}</a>
      </p>
    </div>
    <img src={frontmatter.image.src} alt={frontmatter.image.alt} />
  </header>
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</MainLayout>
